:root {
	--black-color: #280555;
	--black-fade: linear-gradient(0deg, #280555 0%, #280555 100%);
	--blue-color: #1f6289;
	--secondary-blue: #3c8bb9;
	--secondary-color: linear-gradient(45deg, #3c8bb9 0%, #1f6289 74%);
	--white-color: #f8f8f8;
	--background: radial-gradient(circle at 93.49% 67.19%, #f48c06, transparent 67%), radial-gradient(circle at 11.26% 76.17%, #ffba08, transparent 70%), radial-gradient(circle at 44.73% 22.92%, #6a040f, transparent 65%), radial-gradient(circle at 50% 50%, #8b59d4, #8b59d4 100%);
	--shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.08), 4px 4px 4px rgba(0, 0, 0, 0.08), 8px 8px 8px rgba(0, 0, 0, 0.08);
	--border-radius: 0.6rem
}

* {
	box-sizing: border-box
}

body {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==), linear-gradient(to top, #1b0a31 0%, #280555 100%);
	background-blend-mode: multiply;
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

nav {
	background: var(--black-fade);
	background-blend-mode: overlay;
	padding: .5rem;
	position: relative;
	top: 8rem;
	width: 75vw;
	display: grid;
	place-items: center;
	z-index: 1;
	box-shadow: var(--shadow);
	margin: auto;
	border-radius: 1rem;
}

nav>ul {
	grid-auto-flow: column
}

nav>ul>li {
	margin: 0 0.5rem
}

nav>ul>li a,
nav>ul>li .dropdown__title {
	text-decoration: none;
	text-align: center;
	color: var(--white-color);
	font-size: 1.1rem
}

.dropdown__title {
	background-color: transparent;
	border: none;
	font-family: inherit
}

nav>ul>li a:focus,
nav>ul>li .dropdown__title:focus {
	outline: none
}

nav>ul>li .dropdown__title {
	padding: 0.8rem;
	background: none;
	transition: 200ms all 120ms ease-out;
	font-weight: 400
}

nav>ul>li>a:hover,
nav>ul>li .dropdown__title:hover,
nav>ul>li>a:focus,
nav>ul>li .dropdown__title:focus {
	box-shadow: none;
	color: fff
}

.dropdown .dropdown__menu a:focus {
	border-radius: 4px
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid
}

nav ul li {
	padding: 0
}

.dropdown {
	position: relative
}

.dropdown .dropdown__title {
	display: inline-flex;
	align-items: center
}

.dropdown .dropdown__menu {
	position: absolute;
	min-width: 15ch;
	left: 50%;
	top: calc(100% - 0.25rem);
	transition: 280ms all 120ms ease-out;
	transform: rotateX(-90deg) translateX(-50%);
	transform-origin: top center;
	visibility: hidden;
	opacity: 0.3;
	padding: 1rem;
	background: #fffa;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 4px;
	box-shadow: var(--shadow);
	z-index: 10;
	border: 0 solid transparent
}

.dropdown .dropdown__menu a {
	color: var(--black-color);
	display: block;
	background: none;
	padding: .5rem 1rem;
	opacity: 0;
	box-shadow: none;
	transition: 200ms all 120ms ease-out
}

.dropdown .dropdown__menu a:hover {
	text-decoration: underline;
	box-shadow: none
}

.dropdown .dropdown__menu a:focus {
	outline: none;
	background-color: rgba(102, 51, 153, 0.25)
}

.dropdown:hover .dropdown__menu,
.dropdown:focus-within .dropdown__menu {
	opacity: 1;
	transform: rotateX(0) translateX(-50%);
	visibility: visible;
	border: .5px solid #fffb;
	backdrop-filter: blur(8px) brightness(1.2);
	-webkit-backdrop-filter: blur(8px)
}

.dropdown:hover .dropdown__menu a,
.dropdown:focus-within .dropdown__menu a {
	opacity: 1
}

.dropdown:hover:after,
.dropdown:focus-within:after {
	opacity: 1;
	border: .5px solid #fffb;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px)
}

@media screen and (max-width:50em) {
	nav {
		width: 10rem;
		top: 2rem;
		margin-left: 2rem
	}
	nav>ul {
		grid-auto-flow: row;
		text-align: center
	}
	.dropdown .dropdown__menu {
		top: calc(100% - 2.5rem);
		width: 10rem;
		left: 12rem
	}
}